body {
    background-image: url("./../images/bg.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2, h1{
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif
}

h3{ 
    position: absolute;
    margin: 3vw auto 10 auto;
    left: 0;
    right: 0;
    line-height: 1.6;
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

p{
    line-height: 1.6;
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

span
{
    font-size: 5vw;
}

#app{
    position: relative;
}

#vAboutMe:hover { 
    color: white;
    cursor: pointer;
}

#vProjects:hover { 
    color: white;
    cursor: pointer;
}

#vSkills:hover { 
    color: white;
    cursor: pointer;
}

 #vimgheader
{

}

#vheader
{

} 

#vcontent
{

}

#aboutMeImg
{
    width: 75vw;
    height: auto;
}

#projectsImg
{
    width: 60vw;
    height: auto;
}
